services:
  app:
    build:
      context: ./app
      args:
        FLAVOR: ${KOMUNITIN_FLAVOR}
    restart: unless-stopped
    ports:
      - "2030:80"
    environment:
      OAUTH_CLIENTID: komunitin-app
      MOCK_ENABLE: false
      AUTH_URL: ${ICES_URL}/oauth2
      SOCIAL_URL: ${ICES_URL}/ces/api/social
      FILES_URL: ${ICES_URL}/ces/files
      ACCOUNTING_URL: ${KOMUNITIN_ACCOUNTING_URL}
      NOTIFICATIONS_URL: ${KOMUNITIN_NOTIFICATIONS_URL}
      FEEDBACK_URL: ${KOMUNITIN_FEEDBACK_URL}
      DOCS_URL: ${KOMUNITIN_DOCS_URL}
      PUSH_NOTIFICATIONS_VAPID_PUBLIC_KEY: ${PUSH_NOTIFICATIONS_VAPID_PUBLIC_KEY}
      GTAG_ID: ${GTAG_ID}
      

  db-notifications:
    image: redis:7
    restart: unless-stopped
    expose:
      - "6379"
    volumes:
      - db-notifications:/data
  
  notifications:
    build:
      context: ./notifications
    depends_on:
      - db-notifications
    restart: unless-stopped
    ports:
      - "2028:2028"
    environment:
      KOMUNITIN_ACCOUNTING_URL: http://accounting:2025
      KOMUNITIN_SOCIAL_URL: http://integralces:2029/ces/api/social
      KOMUNITIN_AUTH_URL: http://integralces:2029/oauth2
      KOMUNITIN_APP_URL: ${KOMUNITIN_APP_URL}
      NOTIFICATIONS_CLIENT_ID: komunitin-notifications
      NOTIFICATIONS_CLIENT_SECRET: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      NOTIFICATIONS_EVENTS_USERNAME: komunitin
      NOTIFICATIONS_EVENTS_PASSWORD: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      MAILERSEND_API_KEY: ${MAILERSEND_API_KEY}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      APP_EMAIL: ${APP_EMAIL}
      SEND_MAILS: true
    volumes:
      - "./notifications/komunitin-project-firebase-adminsdk.json:/opt/notifications/komunitin-project-firebase-adminsdk.json:ro"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db-accounting:
    build:
      context: ./accounting/docker/db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_APP_USER: accounting
      POSTGRES_APP_PASSWORD: accounting
      WALG_ENABLE: ${DB_BACKUP_ENABLE:-true}
      WALG_S3_PREFIX: ${S3_BACKUP_BUCKET}/db-accounting
      WALG_COMPRESSION_METHOD: zstd
      AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY}
      AWS_SECRET_ACCESS_KEY: ${S3_SECRET_KEY}
      AWS_ENDPOINT: ${S3_ENDPOINT}
      AWS_REGION: ${S3_REGION:-us-east-1}
      AWS_S3_FORCE_PATH_STYLE: "true"

    volumes:
      - db-accounting:/var/lib/postgresql/data

  accounting:
    build:
      context: ./accounting
    ports:
      - "2025:2025"
    depends_on:
      - db-accounting
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://accounting:accounting@db-accounting:5432/accounting?schema=public
      MASTER_PASSWORD: ${KOMUNITIN_ACCOUNTING_MASTER_PASSWORD}
      STELLAR_NETWORK: ${STELLAR_NETWORK}
      STELLAR_HORIZON_URL: ${STELLAR_HORIZON_URL}
      STELLAR_FRIENDBOT_URL: ${STELLAR_HORIZON_URL}/friendbot
      STELLAR_CHANNEL_ACCOUNTS_ENABLED: true
      DOMAIN: ${KOMUNITIN_DOMAIN}
      MASTER_PASSWORD_SALT: ${KOMUNITIN_ACCOUNTING_MASTER_PASSWORD_SALT}
      AUTH_JWKS_URL: http://integralces:2029/.well-known/jwks.json
      AUTH_JWT_ISSUER: ${ICES_URL}/
      AUTH_JWT_AUDIENCE: "komunitin-app,komunitin-notifications"
      NOTIFICATIONS_API_URL: http://notifications:2028
      API_BASE_URL: ${KOMUNITIN_ACCOUNTING_URL}
      APP_URL: ${KOMUNITIN_APP_URL}
      NOTIFICATIONS_API_USERNAME: komunitin
      NOTIFICATIONS_API_PASSWORD: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      SPONSOR_PRIVATE_KEY: ${KOMUNITIN_ACCOUNTING_SPONSOR_PRIVATE_KEY}
      DOCKER: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db-integralces:
    image: mariadb
    restart: unless-stopped
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: yes
      MYSQL_DATABASE: integralces
      MYSQL_USER: integralces
      MYSQL_PASSWORD: ${ICES_MYSQL_PASSWORD:-integralces}
    volumes:
      - db-integralces:/var/lib/mysql

  integralces:
    build:
      context: ../ices
    restart: unless-stopped
    expose:
      - "2029"
    ports:
      - "2029:2029"
    depends_on:
      - db-integralces
    environment:
      NOTIFICATIONS_CLIENT_ID: komunitin-notifications
      NOTIFICATIONS_CLIENT_SECRET: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      NOTIFICATIONS_API_URL: http://notifications:2028
      NOTIFICATIONS_EVENTS_USERNAME: komunitin
      NOTIFICATIONS_EVENTS_PASSWORD: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      MAILERSEND_API_KEY: ${MAILERSEND_API_KEY}
      CES_USER_GOOGLE_MAPS_KEY: ${GOOGLE_MAPS_KEY}
    volumes:
      - "integralces-sites:/var/www/html/sites"
      - "../ices:/var/www/html/sites/all/modules/ices"
    extra_hosts:
      - "host.docker.internal:host-gateway"


  notifications-ts:
    build:
      context: ./notifications-ts
    restart: unless-stopped
    ports:
      - "2023:2023"
    depends_on:
      - db-notifications-ts
      - db-notifications
    environment:
      KOMUNITIN_AUTH_URL: http://integralces:2029/oauth2
      KOMUNITIN_SOCIAL_URL: http://integralces:2029/ces/api/social
      KOMUNITIN_SOCIAL_PUBLIC_URL: ${ICES_URL}/ces/api/social
      KOMUNITIN_ACCOUNTING_URL: http://accounting:2025
      KOMUNITIN_APP_URL: ${KOMUNITIN_APP_URL}
      DATABASE_URL: postgresql://notifications:notifications@db-notifications-ts:5432/notifications?schema=public
      REDIS_URL: redis://db-notifications:6379
      AUTH_JWKS_URL: http://integralces:2029/.well-known/jwks.json
      AUTH_JWT_ISSUER: ${ICES_URL}/
      AUTH_JWT_AUDIENCE: "komunitin-app,komunitin-notifications"

      NOTIFICATIONS_CLIENT_ID: komunitin-notifications
      NOTIFICATIONS_CLIENT_SECRET: ${KOMUNITIN_NOTIFICATIONS_SECRET}

      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      APP_EMAIL: ${APP_EMAIL}

      PUSH_NOTIFICATIONS_VAPID_PUBLIC_KEY: ${PUSH_NOTIFICATIONS_VAPID_PUBLIC_KEY}
      PUSH_NOTIFICATIONS_VAPID_PRIVATE_KEY: ${PUSH_NOTIFICATIONS_VAPID_PRIVATE_KEY}
      
      PORT: 2023
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db-notifications-ts:
    build:
      context: ./accounting/docker/db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_APP_USER: notifications
      POSTGRES_APP_PASSWORD: notifications
      WALG_ENABLE: ${DB_BACKUP_ENABLE:-true}
      WALG_S3_PREFIX: ${S3_BACKUP_BUCKET}/db-notifications
      WALG_COMPRESSION_METHOD: zstd
      AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY}
      AWS_SECRET_ACCESS_KEY: ${S3_SECRET_KEY}
      AWS_ENDPOINT: ${S3_ENDPOINT}
      AWS_REGION: ${S3_REGION:-us-east-1}
      AWS_S3_FORCE_PATH_STYLE: "true"
    volumes:
      - db-notifications-ts:/var/lib/postgresql/data

volumes:
  db-accounting:
  db-integralces:
  db-notifications:
  db-notifications-ts:
  integralces-sites:

