<tr>
  <td class="mobile-pad" style="padding: 15px 30px 0px 30px;">
    <div style="text-align: center;">
      <a href="{{{main.url}}}"
        style="background-color: #72A310; color: #ffffff; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 14px; display: inline-block; text-transform: uppercase; letter-spacing: 0.5px;">
        {{main.text}}
      </a>
    </div>
    {{#if secondar.url}}
    <div style="text-align: center; margin-top: 18px;">
      <a href="{{{secondary.url}}}"
        style="color: #72A310; font-size: 14px; font-weight: 600; text-decoration: none;">
        {{secondary.text}}
      </a>
    </div>
    {{/if}}
  </td>
</tr>
