<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{subject}}</title>
  <style>
    @media only screen and (max-width: 600px) {
      .container {
        width: 100% !important;
      }
      .header {
        padding: 20px 15px !important;
      }
      .mobile-pad {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
      
      {{#> extracss }}{{/extracss}}
    }
  </style>
</head>