<!-- Greeting and text body -->
{{#> section }}
  <div style="font-size: 15px; line-height: 1.6;">
    {{#if greeting}}
    <p style="color: #333333;">{{greeting}}</p>
    {{/if}}

    {{#each paragraphs}}
    <p style="color: #555555;">{{{this}}}</p>
    {{/each}}
  </div>
{{/section}}