<!-- Greeting -->
{{#> section }}
  <div style="font-size: 24px; color: #333; margin-bottom: 10px; font-weight: 500;">
    {{greeting}}
  </div>
  <div style="font-size: 15px; color: #666; line-height: 1.6;">
    {{text}}
  </div>
{{/section}}