<tr>
  <td class="mobile-pad" style="padding: 30px 30px 0px 25px;">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="24">
          <table width="24" height="24" cellpadding="0" cellspacing="0" border="0"
            style="border-radius:50%;background:{{iconBg}};">
            <tbody>
              <tr>
                <td align="center" valign="middle" style="font-size:12px;line-height:1;">{{icon}}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td valign="middle" style="padding-left:8px;">
          <div style="font-size:12px;color:#a0a0a0;font-weight:600;letter-spacing:1px;text-transform:uppercase;">{{text}}</div>
        </td>
      </tr>
    </table>
  </td>
</tr>



