<!-- Postscript -->
<tr>
  <td class="mobile-pad" style="padding: 15px 30px 30px 30px;">
    <div style="font-size: 13px; color: #888888; line-height: 1.4; text-align: center;">
      <p>{{postscript}}</p>
    </div>
  </td>
</tr>