{{#> main }}
  {{> header }}
  {{> label label }}
  {{> intro }}
  <tr>
    <td class="mobile-pad" style="padding: 8px 30px 18px 30px;">
    {{> post-item-card featuredPost imageHeight="240" }}
    </td>
  </tr>
  {{#if otherPosts }}
    {{> expired-list }}
  {{/if}}
  {{> cta cta }}
  {{> postscript }}
  {{> footer }}
{{/main}}
