{{#> main }}
  {{> header }}
  {{> label label }}
  {{> intro }}
  {{> transfer }}
  {{> cta cta }}
  {{#if balanceLine }}
  <tr>
    <td class="mobile-pad" style="padding: 30px 30px 30px 30px; text-align: center; font-size: 14px; color: rgba(0,0,0,0.54); line-height: 1.6;">
      {{{balanceLine.html}}}
    </td>
  </tr>
  {{/if}}
  {{#if postscript }}
    {{> postscript }}
  {{/if}}
  {{> footer }}
{{/main}}
